@page
@model eBookStore.Pages.Manager.EditPublisherModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Book Stores</title>

    <!-- Custom fonts for this template-->
    <link href="~/ForManager/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/ForManager/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <hr class="sidebar-divider my-0">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <!-- Divider -->
            <li class="nav-item">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

                    Book Stores
                </a>

            </li>



            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Home/Home" data-target="#collapseTwo"
                   aria-expanded="true">
                    <span>Home</span>
                </a>

            </li>
            <li class="nav-item">
                @if (HttpContext.Session.GetInt32("roleId") == 2)
                {

                    <a class="nav-link collapsed" asp-page="/Manager/UserManager" data-target="#collapseTwo"
                       aria-expanded="true">
                        <span>User</span>
                    </a>
                }
                else
                {
                    <a class="nav-link collapsed" href="/Manager/EditUser?id=@HttpContext.Session.GetInt32("userId")" data-target="#collapseTwo"
                       aria-expanded="true">
                        <span>User</span>
                    </a>
                }

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Manager/PublisherAuthorManager" data-target="#collapseTwo"
                   aria-expanded="true">
                    <span>Publishers-Authors</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-page="/Manager/PublisherManager" data-target="#collapseTwo"
                   aria-expanded="true">
                    <span>Publishers</span>
                </a>

            </li>
            <li class="nav-item">

                <a class="nav-link collapsed" href="/Manager/AuthorsManager"
                   data-target="#collapseTwo"
                   aria-expanded="true">
                    <span>Authors</span>
                </a>




            </li>


        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">



                    <!-- Topbar Search -->
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">





                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Enter Publisher Information</h1>

                    </div>




                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-2">
                            <p>Publisher Name:</p>
                            <br>
                            <p>City:</p>
                            <br>
                            <p>State:</p>
                            <br>
                            <p>Country:</p>
                           

                        </div>
                        <div class="col-3">
                            @*  <form method="post">*@
                            <form id="form1" runat="server">
                                <input type="text" class="form-control" asp-for="pub.PubId" id="PubId" hidden>
                                <input type="text" class="form-control" asp-for="pub.PublisherName" id="PublisherName" placeholder="First Name">
                                <br>
                                 
                                <select asp-for="pub.City" class="form-control" id="City">

                                    @foreach (var item in Model.City)
                                    {

                                        <option value="@item">@item</option>
                                    }
                                </select>
                                <br>
                                <input type="text" class="form-control" asp-for="pub.State" id="State" placeholder="State">
                                <br>
                                <input type="text" class="form-control" asp-for="pub.Country" id="Country" placeholder="Country">
                                
                                <br>
                               
                                <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                                <a type="button" href="PublisherManager" class="btn btn-primary">Back</a>
                            </form>
                            <br> <br>
                        </div>




                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->
        </div>
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-page="/Account/Login">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                var PubId = $("#PubId").val();
                var PublisherName = $("#PublisherName").val();
                var City = $("#City").val();
                var State = $("#State").val();
                var Country = $("#Country").val();


                // Create a JSON object with the username and password
                var publisher = {
                    PublisherName: PublisherName,
                    City: City,
                    State: State,
                    Country: Country

                };

                $.ajax({
                    type: "PUT",
                    url: "https://localhost:7055/api/Publishers/" + PubId,
                    data: JSON.stringify(publisher),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("User created successfully!");
                        window.location.href = '/Manager/PublisherManager';
                    },
                    error: function (xhr, status, error) {
                        alert("Error creating user: " + error);
                    }
                });
            });
        });
    </script>




    <!-- Bootstrap core JavaScript-->
    <script src="~/ForManager/vendor/jquery/jquery.min.js"></script>
    <script src="~/ForManager/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/ForManager/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/ForManager/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/ForManager/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->

    <script src="~/ForManager/js/demo/chart-pie-demo.js"></script>

</body>

</html>